.serRoot {
    margin-bottom: 50px;
}

.hasEntityURL {
    color: #006621;
}

em {
    font-weight: bold;
    font-style: normal;
}

.devComment {
    font-family: monospace;
    color: grey;
    font-size: 10px;
    font-style: italic;
}

.epChip {
    line-height: 2.2;
}

.devComment::before {
    content: "dataspects dev comment: ";
}

.mw0__HasSection {
    background-color: lightpink;
}

.stableExtension {
    background-color:lightgreen;
    font-weight: bold;
}